@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #ec4899;
  --color-dark: #0f172a;
  --font-sans: 'Inter', sans-serif;
}

html, body {
  scroll-behavior: smooth;
  color: #f8fafc; /* Slate 50 */
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b; 
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary); 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f46e5; 
}